body{
  max-width:2000px;
  width: 100%;
  margin:30px auto;
  font-family: 'Ubuntu', sans-serif;
 }

div{
  align-text:center;
}
.card-body{
  background-color:gray;
  margin:5px auto;

}
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 30rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 30rem;
}