<head>
    <title>Pac-12 North Division</title>
  </head>
  
  <body> <img src="http://x.pac-12.com/profiles/pac12/themes/pac12_foundation/images/pac12/logo.png" alt="Pac-12 logo" title="Pac-12 Home">
   <form action="http://courses.washington.edu/bimd233/bimd.php"method="post">    
    <input type="checkbox" name="team" value="Washington Huskies"><img src="https://a.espncdn.com/i/teamlogos/ncaa/500/264.png" height="120" width="120"><br />
    <input type="checkbox"name="team"value="Washington Cougars"><img src="https://a.espncdn.com/i/teamlogos/ncaa/500/265.png" height="120" width="120"><br />
    <input type="checkbox" name="team" value="Stanford Cardinal"><img src="https://a1.espncdn.com/combiner/i?img=%2Fi%2Fteamlogos%2Fncaa%2F500%2F24.png" height="120" width="120"><br /> 
    <input type="checkbox"name="team"value="California Bears"><img src="https://a.espncdn.com/i/teamlogos/ncaa/500/25.png" height="120" width="120"><br> 
    <input type="checkbox"name="team"value="Oregon State"><img src="https://a.espncdn.com/i/teamlogos/ncaa/500/204.png" height="120" width="120"><br /> <br /> 
    <input type="checkbox"name="team"value="Oregon"><img src="https://a.espncdn.com/i/teamlogos/ncaa/500/2483.png" height="120" width="120"><br /><br />    
    <br/>My State: <input type="text"name="state"><br/>    
    <input type="submit"> 
  </form>
  </body>
  <form action="http://courses.washington.edu/bimd233/bimd.php"method="post">
  </html>