div#bimd{
    border: 2px solid red;
    height: 50px;
    text-align: center;
}
.mb-3{
  text-align:center;
}
body{
border:100px solid rgba(51, 0, 111, 0.6);
  color:#505050;
  max-width:5000px;
  width: 100%;
  padding: 20px;
 margin:30px auto;
  font-family: 'Ubuntu', sans-serif;
}
.card{
   float: left;
  width: 33.33%;
  
}
.card-body{
  
}