body {
  background: linear-gradient(to right, darkgray, gray);
  height: auto;
}

li.north-div {
  /*   color: red;
  background: yellow; */
}

.panel {
  margin: 20px auto;
  width: 800px;
  max-width: 100%;
  height: auto;
}

.container {
  background-color: lightgray;
  border: 10px solid #4b2e83;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 60%;
  height: auto;
}
#su {
  background-color: #990000;
  color: lightgray;
}

#ou {
  background-color: #154733;
  color: yellow;
}

#wsu {
  background-color: #981e32;
  color: #5e6a71;
}

#cal {
  background-color: #081f3f;
  color: #fcb326;
}

#uw {
  background-color: #4b2e83;
  color: #b7a57a;
}

#osu {
  background-color: #252525;
  color: #cc4500;
}