<body style="background-color:black;"></body>
<img src="SmileySquare.svg" alt="Smiley" title="Smiley Square 32px" height="32px"/>
<img src="SmileySquare.svg" alt="Smiley" title="Smiley Square 64px" height="64px"/>
<img src="SmileySquare.svg" alt="Smiley" title="Smiley Square 128px" height="128px"/>
<img src="SmileySquare.svg" alt="Smiley" title="Smiley Square 256px" height="256px"/>
<img src="SmileySquare.svg" alt="Smiley" title="Smiley Square 512px" height="512px"/>
<br><img src="AppleLogo.svg" alt="Smiley" title="AppleLogo 32px" height="32px"/></br>
<img src="AppleLogo.svg" alt="Smiley" title="AppleLogo 64px" height="64px"/>
<img src="AppleLogo.svg" alt="Smiley" title="AppleLogo 128px" height="128px"/>
<img src="AppleLogo.svg" alt="Smiley" title="AppleLogo 256px" height="256px"/>
<img src="AppleLogo.svg" alt="Smiley" title="AppleLogo 512px" height="512px"/>