<table bordercolor="lightgray" border="10" width="700" height="400" cellpadding="1" cellspacing="0" bgcolor="blue">
  <tr>
    <td width="230" rowspan="7">
      <stars><table><table width="245" cellspacing="0" cellpadding="0" align="center" style="color:white; text-align:center;  font-size: 25px;">
        <tr>
          <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
          <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
          <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
        </tr>
          <tr>
            <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
            <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
            <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
          </tr>
        <tr>
            <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
            <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
            <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
          </tr>
        <tr>
         <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
          <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
          <td>☆</td><td>☆</td><td>☆</td><td>☆</td>
        </tr>  
        </table 
      </td> <!-- Rows for Alternating Stripes -->
    <td bgcolor="red" colspan="1"></td>
  <tr>
    <td bgcolor="white" colspan="1"></td>
  </tr>
  <tr>
    <td bgcolor="red" colspan="2"></td>
  </tr>
  <td bgcolor="white" colspan="1"></td>
  <tr>
    <td bgcolor="red" colspan="1"></td>
  </tr>
  <tr>
    <td bgcolor="white" colspan="2"></td>
  </tr>
  <td bgcolor="red" colspan="1"></td>
  <tr>
    <td bgcolor="white" colspan="2"></td>
  </tr>
  <tr>
    <td bgcolor="red" colspan="2"></td>
  </tr>
  <td bgcolor="white" colspan="2"></td>
  <tr>
    <td bgcolor="red" colspan="2"></td>
  </tr>
  <tr>
    <td bgcolor="white" colspan="2"></td>
  </tr>
  <td bgcolor="red" colspan="2"></td>
</table>