
div{
  width: 500px;
  height: 287x;
  background-color:blue;
  box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.4);
}
.red_stripe{
  background-color: #B22234; 
  height:15px;
  width:500px;
}

.white_stripe{
  background-color: white; 
  height:15px;
  width:500px;
}

td {
  font-size:10px;
  height:10px;
}