<h1>Tuan's Page</h1>
<img src="https://media.discordapp.net/attachments/828231835137867777/902606322879590471/A62BD5E9-F155-48B7-B6C2-06B5B04C8FED.jpg?width=507&height=676" height="100"><br>
<h3>Welcome to my sound page!</h3>
<link rel="stylesheet" href="Video/Take-Me-Home_-Country-Roads-hololive-English-Myth-Cover.ogv">
<link rel="stylesheet" href="audio/Count On Me - Bruno Mars (Lyrics) 🎵.mp3">
<link rel="stylesheet" href="audio/Count On Me - Bruno Mars (Lyrics) 🎵.ogg">
<link rel="stylesheet" href="">
<a href="C:\Users\tuanh\Desktop\bimd233\Labs\Lab6\audio"></a>
<a href="C:\Users\tuanh\Desktop\bimd233\Labs\Lab6\Images"></a>
<a href="C:\Users\tuanh\Desktop\bimd233\Labs\Lab6\Video"></a>
<ul>List of my Player's Page!
    <li><a href="video.html" target="_Blank">Country Road</a><br></li>
    <li><a href="songs.html" target="_Blank">Count On me</a><br></li>
</ul>