<head>
    <link rel="stylesheet" href="style.css">
  </head>
<table class="Title" cellspacing="" cellpadding="8" border="1">
  <tr>
    <th class="rgb" rowspan="2" align="center">RGB and .HSL Comparison</th>
    <tr>
<table class="colors" cellspacing="" cellpadding="8" border="1">
  <tr>
    <th class="rgb" rowspan="1">RGB</th>
    <th class="rgb" colspan="2">a=0.9</th>
    <th class="rgb" colspan="2">a=0.8</th>
    <th class="rgb" colspan="2">a=0.7</th>
    <th class="rgb" colspan="2">a=0.6</th>
    <th class="rgb" colspan="2">a=0.5</th>
    <th class="rgb" colspan="2">a=0.4</th>
    <th class="rgb" colspan="2">a=0.3</th>
    <th class="rgb" colspan="2">a=0.2</th>
    <th class="rgb" colspan="2">a=0.1</th>
    <th class="rgb" colspan="2">a=0.0</th>
  </tr>
  <table class="HSL" cellspacing="5" cellpadding="8" border="1">
  <tr>
    <th class="rgb" rowspan="2">HSL</th>
    <th class="rgb" colspan="2">a=0.9</th>
    <th class="rgb" colspan="2">a=0.8</th>
    <th class="rgb" colspan="2">a=0.7</th>
    <th class="rgb" colspan="2">a=0.6</th>
    <th class="rgb" colspan="2">a=0.5</th>
    <th class="rgb" colspan="2">a=0.4</th>
    <th class="rgb" colspan="2">a=0.3</th>
    <th class="rgb" colspan="2">a=0.2</th>
    <th class="rgb" colspan="2">a=0.1</th>
    <th class="rgb" colspan="2">a=0.0</th>
  </tr>
   