<table border="1">
  <thead>
    <!-- Header Section -->
    <tr>
      <th>Published</th>
      <p style="font-size:25px"><b>Web Design Books</b></p>
      <th>ISBN-13</th>
      <th>Author</th>
      <th rowspan="1">Title</th>

    </tr>

  </thead>

  <tbody>
    <!-- Table Body Section -->

    <tr>
      <th>November 8, 2011</th>
      <td>860-1200464207</td>
      <td>Jon Duckett</td>
      <td colspan="1" , rowspam="2">HTML and CSS: Design and Build Websites</td>
    </tr>
    <th>November 11, 2011</th>
    <td>978-0321793935</td>
    <td>Ian Devlin</td>
    <td rowspam="1">HTML5 Multimedia: Develop and Design</td>
    </tr>
    <th>Augest 24, 2012</th>
    <td>978-1449319274</td>
    <td>Jennifer Niederst Robbins</td>
    <td rowspam="1">A Beginner's Guide to HTML, CSS, Javascript, and webdesign</td>
    </tr>
    <th>June 30, 2014</th>
    <td>978-1118531648</td>
    <td>Jon Duckett</td>
    <td rowspam="1">JavaScript and JQuery: INteractive Front-End Web Development</td>
    </tr>
    <th>December 29, 2010</th>
    <td>978-1430230908</td>
    <td>Silvia Pfeiffer</td>
    <td rowspam="1">The Definitive Guide to HTML5 Video</td>
    </tr>
    <th>Augest 27, 2010</th>
    <td>978-0596806026</td>
    <td>Mark Pilgrim</td>
    <td rowspam="1">HTML5: Up and Running</td>
    </tr>
    <th>November 17, 2006</th>
    <td>978-0596527334</td>
    <td>Eric A. Meyer</td>
    <td rowspam="1">CSS:The Definitive Guide</td>
    </tr>
    </tr>
    <th>May 13, 2011</th>
    <td>978-0596805524</td>
    <td>David Flanagan</td>
    <td rowspam="1">JavaScript: The Definitive Guide: Active your Web Pages</td>
    </tr>
    </tr>
    <th>May 2008</th>
    <td>978-0596517748</td>
    <td>Douglas Crockford</td>
    <td rowspam="1">JavaScript: The Good Parts</td>
    </tr>

  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" style="text-align:center;">Amazon Student | FREE Two-Day Shipping on millions of items</td>
    </tr>
  </tfoot>
</table>